@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
	font-family: 'Poppins', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;
	color: #eee;
	--bg-color: #2ca55e;
	--ui-bg-color: #238a4e;
	background: var(--bg-color)
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

main {
	display: grid;
	place-content: center;
	height: 100vh;
	overflow: hidden;
}

.center {
	background-color: var(--ui-bg-color);
	font-size: 1.2em;
	padding: 1em;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.corner {
	position: absolute;
	font-size: 1.2em;
	top: 0.2em;
	right: 0.2em;
}

.field {
	background-color: #0003;
	padding: 0.2em;
	border-radius: 0.2em;
	margin: 0 0.2em;
	font-family: 'Roboto Mono', monospace;
}

.option {
	display: flex;
	flex-direction: row;
}

.option > * {
    flex-grow: 1;
	flex-basis: 0;
}

.timer {
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.subtitle {
	margin: 0.5em 0;
}

.fade {
	opacity: 0.5;
	font-size: 0.8em;
}

.dropdown {
	width: max-content;
	position: relative;
	user-select: none;
}

.dropdown-button {
	border-radius: 0.5em;
	background-color: #0002;
	cursor: pointer;
	transition: background-color 0.1s;
	padding: 0.5em;
}

.dropdown-button::after {
	content: "▼";
	font-size: 0.5em;
	transform: translate(0, -0.25em);
	margin-left: 0.5em;
	display: inline-block;
}

.dropdown-open .dropdown-button {
	border-radius: 0.5em 0.5em 0 0;
}

/*.dropdown-open .dropdown-button::after {
	content: "▲";
} */

.dropdown-content {
	position: absolute;
	top: 100%;
	background-color: var(--ui-bg-color);
	border-radius: 0 0 0.5em 0.5em;
	overflow: hidden;
	font-size: 0.9em;
	min-width: 100%;
	width: max-content;
}

.dropdown-option {
	transition: background-color 0.1s;
	padding: 0.2em 0.5em;
	cursor: pointer;
}

.dropdown-option:hover, .dropdown-button:hover, .dropdown-open .dropdown-button, .dropdown-option:active, .dropdown-button:active {
	background-color: #0003;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.center {
		font-size: 1.6em;
	}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.center {
		font-size: 2em;		
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.center {
		font-size: 1.5em;
	}

	.timer {
		flex-direction: row;
		gap: 0;

	}
	.dropdown {
		font-size: 1.2em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.center {
		font-size: 1.8em;
	}
} 

@media only screen and (min-width: 1600px) {
	.center {
		font-size: 2.5em;
	}
} 
